<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/updateParkingOccupancy">
            <label for="ID">Enter ID of Parking:</label>
            <input type="text" id="ID" name="ID">
            <label for="Monday">Enter Monday Occupancy :</label>
            <input type="text" id="Monday" name="Monday">
            <label for="Tuesday">Enter Tuesday Occupancy :</label>
            <input type="text" id="Tuesday" name="Tuesday">
            <label for="Wednesday">Enter Wednesday Occupancy :</label>
            <input type="text" id="Wednesday" name="Wednesday">
            <label for="Thursday">Enter Thursday Occupancy :</label>
            <input type="text" id="Thursday" name="Thursday">
            <label for="Friday">Enter Friday Occupancy :</label>
            <input type="text" id="Friday" name="Friday">
            <label for="Saturday">Enter Saturday Occupancy :</label>
            <input type="text" id="Saturday" name="Saturday">
            <label for="Sunday">Enter Sunday Occupancy :</label>
            <input type="text" id="Sunday" name="Sunday">
            
            <input type="submit">
        </form>
    </body>
</html>