<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/updateData">
            <label for="title">Enter ID of Sensor:</label>
            <input type="text" id="sensorID" name="sensorID">
            <label for="latitude">Enter Latitude :</label>
            <input type="text" id="latitude" name="latitude">
            <label for="longitude">Enter Longitude :</label>
            <input type="text" id="longitude" name="longitude">
            
            <input type="submit">
        </form>
    </body>
</html>