<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/updateParkingData">
            <label for="title">Enter title of parking:</label>
            <input type="text" id="title" name="title">
            <label for="latitude">Enter Latitude :</label>
            <input type="text" id="latitude" name="latitude">
            <label for="longitude">Enter Longitude :</label>
            <input type="text" id="longitude" name="longitude">
            
            <input type="submit">
        </form>
    </body>
</html>